<!-- <app-scrollable-tab
  [menus]="TopMenus"
  [backgroundColor]="scrollableTabBgColor"
  titleColor='orange'
  titleActiveColor='green'
  (tabSelected)="handleTabSelect($event)"
  *ngIf="scrollableTabBgColor === 'red'"
> -->
  <!-- <div>Hello</div> -->
<!-- </app-scrollable-tab> -->

<!-- <app-scrollable-tab [menus]="TopMenus2"></app-scrollable-tab> -->
<!-- <app-image-slider [sliders]="imageSliders" #imageSlider></app-image-slider>

<app-horizontal-grid [(username)]="username"></app-horizontal-grid> -->

<router-outlet></router-outlet>

<app-horizontal-grid>
  <div appGridItem *ngFor="let item of channels">
    <img 
      appGridItemImage='375px'
      [src]="item.icon" 
      alt="" 
      [fitMode]="'cover'">
    <span appGridItemTitle='1.2rem'> {{ item.title }} </span>
  </div>
</app-horizontal-grid>
